{% extends "app_Rickbike/site_base.html" %}
{% load static %}

{% block page_heading %}
  <header class="blog-header py-3">
    <img src="{% static 'images/logo.png' %}" alt="My image"/>
  </header>
{% endblock %}

{% block main_body %}

  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Welcome to Rickbike Store</h1>
      <p class="lead my-3">The number one local widgets distributor.</p>
      <p class="lead my-3">We take pride in serving all types of cyclists, including beginners and experienced riders. Road and mountain enthusiasts; kids / families get the next bike. And bicycle commuter. Please check the stock in the online store before coming to the store. You can especially order if it is out of stock. We are here to help you with all  your cycling needs. Learn more about our uniqueness, visit us today, meet our friendly staff and experience our amazing product selection.>today!</span></p>
    </div>
  </div>

{% endblock %}
